.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1128px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 135px;
    justify-items: center;
}

.pageNavigator {
    display: flex;
    width: 1128px;
    border-bottom: 3.5px solid var(--pale-blue);
    border-radius: 2px;
    padding-left: 10px;
}

.pageNavigator button {
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: white;
    margin-bottom: 15px;
    margin-right: 30px;
    transition: font-size 0.3s ease; 
}

.pageNavigator button:hover{
    /*color: var(--cyan);*/
    font-size: 18px;
}

.activeButton_accAccess {
    color: var(--cyan);
}

.activeButton_reqAccess {
    color: var(--cyan);
}

.tableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1122px;
    margin: 0 auto;
    margin-top: 10px;
}

.tableHeading{
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    font-size: 14px;
    font-family: Roboto Condensed;
    font-weight: 500;
    color: var(--pale-blue);
    width: 1122px;
    padding-left: 50px;
}

.tableHeading_hospital{
    display: grid;
    grid-template-columns: 400px 358px 280px;
    font-size: 14px;
    font-family: Roboto Condensed;
    font-weight: 500;
    color: var(--pale-blue);
    width: 1122px;
    padding-left: 50px;
}

.data{
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    font-size: 12px;
    font-family: Roboto Condensed;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    width: 1122px;
    padding-left: 50px;
    align-items: center;
    margin-bottom: 3px;
}

.data_hospital{
    display: grid;
    grid-template-columns: 400px 350px 280px;
    font-size: 12px;
    font-family: Roboto Condensed;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    width: 1122px;
    padding-left: 50px;
    align-items: center;
    margin-bottom: 3px;
}

.tableHeading_reqAccess{
    display: grid;
    grid-template-columns: 600px 280px;
    font-size: 14px;
    font-family: Roboto Condensed;
    font-weight: 500;
    color: var(--pale-blue);
    width: 1122px;
    padding-left: 50px;
    margin: 0 auto;
}

.tableHeading_reqAccess_hospital{
    display: grid;
    grid-template-columns: 475px 280px;
    font-size: 14px;
    font-family: Roboto Condensed;
    font-weight: 500;
    color: var(--pale-blue);
    width: 1122px;
    padding-left: 50px;
}

.data_reqAccess {
    display: grid;
    grid-template-columns: 480px 280px 280px;
    font-size: 12px;
    font-family: Roboto Condensed;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    width: 1122px;
    padding-left: 50px;
    align-items: center;
    margin-bottom: 3px;
}

.data button,
.data_reqAccess button {
    display: flex;
    font-size: 12px;
    font-family: Roboto Condensed;
    border: none;
    background-color: white;
    color: red;
    align-items: center;
    width: 100px;
}

.data button:hover,
.data_reqAccess button:hover {
    font-weight: 500;
}

.data_hospital button{
    display: flex;
    font-size: 12px;
    font-family: Roboto Condensed;
    border: none;
    background-color: white;
    color: red;
    align-items: center;
    width: 120px;
}

.data_hospital button:hover {
    font-weight: 500;
}

@media screen and (max-width: 2491px) {
    .container {
        margin-top: 200px;
    }
}

@media screen and (max-width: 1661px) {
    .container {
        margin-top: 140px;
    }
}

@media screen and (max-width: 1537px) {
    .container {
        margin-top: 135px;
    }
}

@media screen and (max-width: 1452px) {
    .container {
        margin-top: 135px;
    }
    .container, .pageNavigator, .tableContainer, .tableHeading_hospital, 
    .tableHeading_reqAccess_hospital, .data_hospital, .data_reqAccess, 
    .tableHeading, .dataContainer, .data, .tableHeading_reqAccess {
        width: 860px;
    }

    .tableHeading_hospital, .data_hospital, .data_reqAccess {
        grid-template-columns: 320px 300px 200px;
    }

    .tableHeading_reqAccess_hospital{
        grid-template-columns: 320px 300px;
    }

    .tableHeading, .data {
        grid-template-columns: 215px 215px 215px 200px;
    }

    .tableHeading_reqAccess {
        grid-template-columns: 430px 100px;
    }
}

@media screen and (max-width: 913px) {
    .container {
        margin-top: 95px;
    }
    .container, .pageNavigator, .tableContainer, .tableHeading_hospital, 
    .tableHeading_reqAccess_hospital, .data_hospital, .data_reqAccess,
    .tableHeading, .dataContainer, .data, .tableHeading_reqAccess {
        width: 700px;
    }

    .tableHeading_hospital, .data_hospital, .data_reqAccess {
        grid-template-columns: 233px 233px 233px;
    }

    .tableHeading_reqAccess_hospital{
        grid-template-columns: 230px 350px;
    }

    .tableHeading, .data {
        grid-template-columns: 175px 175px 175px 175px;
    }

    .tableHeading_reqAccess {
        grid-template-columns: 340px 350px;
    }
}


@media screen and (max-width: 875px) {
    .container {
        margin-top: 70px;
    }
    .container, .pageNavigator, .tableContainer, .tableHeading_hospital, 
    .tableHeading_reqAccess_hospital, .data_hospital, .data_reqAccess,
    .tableHeading, .dataContainer, .data, .tableHeading_reqAccess {
        width: 600px;
    }

    .tableHeading_hospital, .data_hospital, .data_reqAccess {
        grid-template-columns: 200px 200px 200px;
    }

    .tableHeading_reqAccess_hospital{
        grid-template-columns: 200px 350px;
    }

    .tableHeading, .data{
        grid-template-columns: 150px 150px 150px 100px;
        padding-left: 40px;
    }

    .tableHeading_reqAccess{
        grid-template-columns: 285px 100px;
    }

    .data_hospital, .data_hospital button, .data_reqAccess, .data_reqAccess button,
    .data, .data button {
        font-size: 10px;
    }

    .tableHeading_hospital, .tableHeading_reqAccess_hospital,
    .tableHeading, .tableHeading_reqAccess{
        font-size: 11px;
    }

    .pageNavigator button {
        font-size: 14px;
    }

    .pageNavigator button:hover{
        font-size: 15px;
    }
}

@media screen and (max-width: 639px) {
    .container, .pageNavigator, .tableContainer, .tableHeading_hospital, 
    .tableHeading_reqAccess_hospital, .data_hospital, .data_reqAccess,
    .tableHeading, .dataContainer, .data, .tableHeading_reqAccess, .data_reqAccess {
        width: 400px;
    }

    .tableHeading_hospital, .data_hospital, .data_reqAccess {
        grid-template-columns: 133px 133px 133px;
        padding-left: 20px;
    }

    .tableHeading_reqAccess_hospital{
        padding-left: 20px;
        grid-template-columns: 200px 200px;
    }

    .tableHeading, .data {
        grid-template-columns: 100px 100px 100px 100px;
        padding-left: 20px;
    }

    .tableHeading_reqAccess {
        grid-template-columns: 235px 100px;
        padding-left: 20px;
    }

    .data_reqAccess {
        grid-template-columns: 200px 100px 100px;
        padding-left: 20px;
    }

    .data_hospital, .data_reqAccess {
        padding-left: 20px;
    }

    .pageNavigator button {
        font-size: 11px;
    }

    .pageNavigator button:hover{
        font-size: 13px;
    }

    .data_hospital button {
        width: 100px;
    }

    .data_reqAccess button {
        width: 60px;
    }

    .data button {
        width: 75px;
    }
}

@media screen and (max-width: 445px) {
    .container, .pageNavigator, .tableContainer, .tableHeading_hospital, 
    .tableHeading_reqAccess_hospital, .data_hospital, .data_reqAccess,
    .tableHeading, .dataContainer, .data, .tableHeading_reqAccess, .data_reqAccess {
        width: 330px;
    }

    .tableHeading_hospital, .data_hospital, .data_reqAccess {
        grid-template-columns: 110px 110px 110px;
    }

    .tableHeading_reqAccess_hospital{
        grid-template-columns: 150px 200px;
    }

    .tableHeading, .data {
        grid-template-columns: 82.5px 82.5px 82.5px 70px;
    }

    .tableHeading_reqAccess {
        grid-template-columns: 175px 100px;
    }

    .data_reqAccess {
        grid-template-columns: 150px 70px 10px;
    }

    .data_hospital, .data_hospital button, .data_reqAccess, .data_reqAccess button,
    .data, .data button {
        font-size: 8.5px;
    }

    .tableHeading_hospital, .tableHeading_reqAccess_hospital,
    .tableHeading, .tableHeading_reqAccess{
        font-size: 9.5px;
    }

    .pageNavigator button {
        font-size: 10px;
    }

    .pageNavigator button:hover{
        font-size: 11px;
    }

    .data_hospital button {
        width: 90px;
    }

    .data_reqAccess button {
        width: 60px;
    }

    .data button {
        width: 55px;
    }
}

