/* generalPages.module.css */


/* CONTACT US PAGE PROPERTIES */
.fieldContainer input {
    width: 83%;
    height: auto;
    padding: 10px;
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, #22D3D8, #0054F5);
    border-image-slice: 1;    
    font-family: Roboto Condensed;
    font-size: 14px;
}

.fieldContainer input::placeholder {
    font-family: Roboto Condensed;
    font-size: 14px;
    color: #999;
}

.customInputEmail {
    position: absolute;
    left: 149px;
    top: 430px;
    width: 538px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, #22D3D8, #0054F5) 1;
    border-radius: 15px; 
    outline: none; 
    background-origin: border-box; 
    background-clip: padding-box; 
    transition: box-shadow 0.3s; 
}

.customInputMessage {
    position: absolute;
    left: 149px;
    top: 515px;
    width: 538px;
    height: 70px;
    padding: 10px;
    font-size: 16px;
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, #22D3D8, #0054F5) 1;
    border-radius: 15px; 
    outline: none; 
    background-origin: border-box;
    background-clip: padding-box; 
    transition: box-shadow 0.3s; 
}

.submitButton {
    background-color: #2264DC;
    color: #fff;
    border: none;
    padding: 0.7% 4%;
    cursor: pointer;
    font-size: 16px;
    font-family: Roboto Condensed;
    width: 20%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 37px;
    margin-left: 30%;
}

.submitButton:hover {
    background-color: #22D3D8;
}

.messageCall {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #0566F1;
    height: 100px;
    width: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.messageCall img {
    width: 40px;
}

/* FAQS PAGE PROPERTIES */

.faqContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-top: 110px;
    align-items: center;
}

.faqText {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #0A0045;
    letter-spacing: 8px;
    margin: 0;
    text-align: center;
    width: 90%;
}

.faqLine {
    display: flex;
    width: 100%;
    height: 4px;
    background: rgb(0,84,245);
    background: linear-gradient(90deg, rgba(0,84,245,0.14) 26%, 
                rgba(34,211,216,1) 71%, rgba(33,207,217,0.4) 90%);
    margin-top: 20.96px;
    width: 95%;
}

.helpText {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #0054F5;
    letter-spacing: 5px;
    text-align: center;
    width: 90%;
}


/* FAQ  DROP DOWN ANSWER */

.dropdownContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: -4%;
    width: 100%;
}

.dropdownItem {
    width: 90%;
    margin-bottom: 1.2%;
}

.dropdownQuestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    background-color: #F4F7FE;
    border-radius: 9px;
    border: 1px solid #E6E6E6;
}

.dropdownQuestion:hover {
    background-color: #DCE5F6;
}

.dropdownQuestion span {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #0A0045; 
}

.answer {
    padding: 15px;
    background-color: #F4F7FE;
    border-radius: 9px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    border: 1px solid #E6E6E6;
    border-top:none;
}


/* FAQ SEARCH BAR PROPERTIES */
.searchBar {
    display: flex;
    width: 42%;
    border-radius: 20px;
    align-items: center;
    padding: 0.8% 1.5%;
    background-color: #f0f0f0; 
}

.searchIcon {
    margin-right: 1%;
}

.searchInput {
    flex: 1;
    border: none;
    outline: none;
    background-color: #f0f0f0; 
    font-family: Raleway;
    font-size: 14px;
    color: #000000; 
}

.mainContainer {
    display: flex;
    width: 85%;
    height: 540px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 130px;
    position: relative;
}

.contactUsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 97.5%;
    border: 4px solid transparent;
    border-image: linear-gradient(230deg, rgba(0,84,245,1) 0%, rgba(34,211,216,1) 76%);
    border-image-slice: 1;
    justify-content: center;
    top: 16px;
    position: absolute;
    align-items: center;
}

.contactUS_txt {
    font-family: Raleway;
    font-size: 32px;
    font-weight: bold;
    white-space: pre;
    margin: 0 auto;
    justify-content: center;
    position: absolute;
    z-index: 1;
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
}

.fieldContainer {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.fieldContainer p {
    font-family: Roboto Condensed;
    font-size: 16px;
    width: 85%;
    justify-content: center;
}

.image {
    height: 80%;
    width: 35%;
}

@media screen and (max-width: 1313px) {
    .mainContainer {
        margin-top: 9%;
    }

    .image {
        width: 40%;
    }
}

@media screen and (max-width: 1051px) {
    .mainContainer {
        height: 500px;
        margin-top: 11%;
    }

   .contactUS_txt {
        font-size: 29px;
   }

   .fieldContainer p {
        font-size: 14px;
   }

   .fieldContainer input, .fieldContainer input::placeholder {
        font-size: 12px;
   }

   .submitButton {
        font-size: 14px;
   }
}

@media screen and (max-width: 916px) {

    .mainContainer {
        height: 480px;
        margin-top: 12.3%;
    }
    
    .messageCall {
        height: 80px;
        width: 35px;
    }

    .messageCall img{
        width: 30px;
    }

    .fieldContainer p {
        width: 180%;
    }

    .image {
        margin-top: 60px;
    }
 }

 @media screen and (max-width: 701px) {
    .mainContainer {
        height: 410px;
        margin-top: 14%;
    }

    .image {
        display: none;
    }

    .fieldContainer {
        width: 90%;
    }

   .contactUS_txt {
        font-size: 26px;
   }

   .fieldContainer p {
        width: 100%;
        font-size: 12px;
   }

   .fieldContainer input, .fieldContainer input::placeholder {
        font-size: 11px;
   }

   .fieldContainer input {
        padding: 5px;
        width: 100%;
   }

   .submitButton {
        font-size: 11px;
        margin-left: 40%;
   }

   .messageCall {
        display: none;
   }
}

@media screen and (max-width: 549px) {

    .mainContainer {
        margin-top: 20%;
    }
    .contactUS_txt {
        font-size: 22px;
        margin-top: 1.2%;
    }

    .fieldContainer {
        margin-top: -5%;
    }

    .submitButton {
        width: 20%;
    }
}

@media screen and (max-width: 455px) {

    .mainContainer {
        margin-top: 25%;
    }
}


/*media query for FAQs*/

@media (max-width: 768px) {
    .faqContainer {
        margin-top: 80px; 
    }

    .faqText {
        font-size: 24px; 
        letter-spacing: 6px; 
    }

    .helpText {
        font-size: 18px;
    }

    .searchInput {
        font-size: 13px;
    }

    .faqLine {
        margin-top: 15px; 
    }

    .searchBar {
        width: 60%; 
    }

    .dropdownContainer {
        margin-top: 4%;
        margin-bottom: -9%;
    }

    .dropdownItem {
        width: 90%; 
    }

    .dropdownQuestion span, .answer {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .faqText {
        font-size: 20px; 
        letter-spacing: 4px; 
    }

    .helpText {
        font-size: 16px;
    }

    .faqLine {
        margin-top: 10px; 
    }

    .searchBar {
        width: 70%; 
    }

    .searchInput {
        font-size: 12px;
    }

    .dropdownContainer {
        margin-bottom: -15%;
    }

    .dropdownItem {
        width: 90%;
        margin-bottom: 10px;
    }

    .dropdownQuestion span, .answer {
        font-size: 12px;
    }
}