.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingPage {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  width: 100%;
  justify-content: space-between;
}

.welcomeMessage {
  display: flex;
  flex-direction: column;
  margin-left: 61px;
  justify-content: center;
  width: auto;
}

.pageBanner {
  margin-left: 100px auto;
  margin-right: 115px;
}

.slogan {
  font-family: Raleway, sans-serif;
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(to right, #0B3F8D, #22D3D8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  margin-bottom: 15px;
}

.subSlogan {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 36px;
}

.getStarted {
  font-weight: 500;
  width: 207px;
  padding: 19px 55px 19px 55px;
  border-radius: 6px;
  cursor: pointer;
  background: linear-gradient(to bottom, var(--blue) 0%, #5A8CFF 100%);
  color: white;
}

.getStarted:hover {
  background: linear-gradient(to bottom, #1965d8 0%, #77aaff 100%)
}

.features {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.featuresBanner {
  position: relative;
  display: inline-block;
  margin-top: 90px;
}

.featuresBanner img {
  width: 100%;
}

.bannerInfo {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  color: white;
  margin: auto;
}

.bannerInfo div {
  text-align: center;
}

.infoTextLarge {
  font-family: Raleway;
  font-size: 52px;
  font-weight: bold;
  margin: 0;
}

.infoTextSmall {
  font-family: Raleway;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question p {
  font-family: Raleway;
  font-weight: bold;
  font-size: 36px;
  color: #00838F;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.question div {
  width: 90%;
  height: 3px;
  background: linear-gradient(to right, #4B7D84, #18C1C6);   
}

.featuresItem {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 59px;
}

.columnFeatureSection {
  display: flex;
  flex-direction: column;
  height: 730px;
  justify-content: space-between;
}

.feature {
  display: inline-block;
  position: relative;
  height: 322.75px;
}

.featureTxtContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 276.57px;
  height: 177.24px;
  background-color: white;
  box-shadow: 0px 13px 50px rgba(0, 131, 143, 0.8);
  border-radius: 15px;
}

.featureInfo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 23px;
  color:#00838F;
  margin: 0;
  margin-bottom: 8.69px;
  margin-top: 11.19px;
  margin-left: 16.54px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 49.84px;
  align-content: center;
}

.lineStyle {
  background-color: #00838F;
  width: 235.31px;
  height: 2px;
  margin-left: 16.54px;
}

.featureDesc {
  font-family: Roboto Condensed;
  font-size: 14px;
  color:#00838F;
  padding: 0px 16.54px 11.19px 16.54px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscriptionContainer {
  display: flex;
  flex-direction: column;
  margin-top: 108.68px;
  align-items: center;
}

.subscriptionTextBanner {
  font-family: Raleway;
  font-weight: bold;
  font-size: 36px;
  color: #00838F;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  margin: 0;
  margin-bottom: 16px;
}

.subscriptionDesc {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 18.47px;
  color: #0054F5;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.forNewsletterContainer {
  display: flex;
  flex-direction: column;
  background-color: #1f6cab;
  background-image: linear-gradient(to right, #326469, #22D3D8);
  border-radius: 30px;
  padding: 50px;
  margin-top: 52px;
  width: 90%;
}

.forNewsletterTxt {
  color: white;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: 10.64px;
}

.emailContainer {
  display: flex;
}

.emailInput {
  width: 988px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  border: none;
  border-radius: 20px;
  margin-right: 8px;
  font-family: Poppins;
  font-size: 14px;
  color: #00838F;
  font-weight: 500;
  outline: none;
}

.emailInput::placeholder {
  font-family: Poppins;
  font-size: 14px;
  color: #00838F;
  font-weight: 500;
  margin: 0 auto;
}

.subscribeButton {
  background-color: #0054f5;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 40px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  margin-left: -100px;
}

.subscribeButton:hover {
  background-color: #22D3D8;
}

@media screen and (max-width: 1246px){

  .welcomeMessage {
    justify-content: center;
  }

  .pageBanner {
    margin-right: 61px;
    width: 40%;
  }

  .featuresItem {
    transform: scale(0.8);
    width: 100%;
    margin: 0 auto;
  }

  .subscriptionContainer{
    margin-top: 30px;
  }

  .emailInput {
    width: 800px;
  }
}

@media screen and (max-width: 1010px){
  .slogan {
    font-size: 30px;
  }

  .subSlogan {
    font-size: 15px;
  }

  .getStarted {
    width: 150px;
    padding: 14px 30px 14px 30px;
    font-size: 15px;
  }

  .pageBanner {
    width: 40%;
  }

  .infoTextLarge {
    font-size: 40px;
  }

  .infoTextSmall{
      font-size: 13px;
  }

  .question p{
    font-size: 30px;
  }

  .featuresItem {
    flex-direction: column;
    height: 1100px;
    width: 90%;
    margin-top: -60px;
  }

  .columnFeatureSection {
    flex-direction: row;
    height: auto;
    width: 100%;
  }

  .subscriptionTextBanner {
    font-size: 30px;
    margin-top: -40px;
  }

  .subscriptionDesc {
    font-size: 16px;
  }

  .forNewsletterTxt {
    font-size: 17px;
  }

  .emailInput, .emailInput::placeholder{
    font-size: 12px;
  }

  .emailInput {
    width: 600px;
    height: 10%;
  }

  .subscribeButton {
    font-size: 12px;
    padding: 10px 30px;
  }
}

@media screen and (max-width: 743px) {

  .slogan {
    font-size: 27px;
  }

  .subSlogan {
    font-size: 14px;
  }

  .getStarted {
    width: 105px;
    padding: 12px 20px 12px 20px;
    font-size: 12px;
  }

  .question p{
    font-size: 26px;
  }

  .featuresItem{
    width: 100%;
  }

  .feature {
    width: 300px;
  }
    
  .feature img{
    width: 100%;
  }

  .featureTxtContainer {
    width: 90%;
    height: 60%;
  }

  .subscriptionContainer {
    margin-top: -10px;
  }

  .subscriptionTextBanner {
    font-size: 26px;
  }

  .subscriptionDesc {
    font-size: 14px;
  }

  .forNewsletterTxt {
    font-size: 15px;
  }

  .emailInput, .emailInput::placeholder{
    font-size: 11px;
  }

  .emailInput {
    height: 10%;
    width: 400px;
  }
}

@media screen and (max-width: 623px) {

  .welcomeMessage {
    margin-left: 30px;
  }

  .pageBanner {
    margin-right: 40px;
    width: 45%;
  }

  .slogan {
    font-size: 24px;
  }

  .subSlogan {
    font-size: 12px;
  }

  .getStarted {
    width: 84px;
    padding: 10px 15px 10px 15px;
    font-size: 10px;
  }

  .infoTextLarge {
    font-size: 30px;
  }

  .infoTextSmall{
      font-size: 11px;
  }

  .question p{
    font-size: 20px;
  }

  .featuresItem {
    height: 950px;
  }
  
  .feature {
    width: 230px;
    height: 290px;
  }
    
  .feature img{
    width: 100%;
  }

  .featureTxtContainer {
    width: 90%;
    height: 86%;
  }
  
  .lineStyle {
    width: 80%;
  }

  .featureInfo {
    height: auto;
  }

  .subscriptionContainer {
    margin-top: -10px;
  }

  .subscriptionTextBanner {
    font-size: 26px;
  }

  .subscriptionDesc {
    font-size: 14px;
  }

  .forNewsletterTxt {
    font-size: 15px;
  }

  .emailInput, .emailInput::placeholder{
    font-size: 11px;
  }

  .forNewsletterContainer {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .emailInput {
    width: 350px;
  }
}

@media screen and (max-width: 484px) {
  .landingPage {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .welcomeMessage {
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .pageBanner {
    width: 60%;
  }

  .question P {
    font-size: 17px;
  }

  .infoTextLarge {
    font-size: 20px;
  }

  .infoTextSmall {
    font-size: 10px;
  }

  .features {
    margin-top: -20px;
  }

  .featuresItem {
    height: 800px;
  }

  .feature {
    width: 180px;
    height: 250px;
  }

  .featureInfo {
    font-size: 15px;
  }

  .featureDesc {
    font-size: 12px;
  }

  .subscriptionContainer{
    margin-top: 30px;
  }

  .subscriptionTextBanner {
    font-size: 20px;
  }

  .subscriptionDesc {
    font-size: 13px;
  }

  .forNewsletterTxt {
    font-size: 13px;
  }

  .emailInput {
    font-size: 10px;
    width: 290px;
  }

  .emailInput::placeholder {
    font-size: 10px;
  }

  .subscribeButton {
    font-size: 10px;
  }
}

@media screen and (max-width: 398px){
  .bannerInfo {
    width: 90%;
  }

  .featuresItem {
    height: 850px;
  }
  
  .feature {
    width: 170px;
  }
  
  .emailInput {
    padding-left: 10px;
    width: 250px;
  }
}