/* --------------FOR HEADER/NAVBAR-------------- */
html.index {
    scroll-behavior: smooth; /* Enable smooth scrolling for the entire page */
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1004;
    display: flex;
    justify-content: space-between; /* To create space between logo and navbar */
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 1% 2%;
    transition: all .50s ease;
}

.logoContainer {
    display: flex;
    align-items: center;
    width: 217px;
    height: 58.06px;
}

.logo {
    width: 80%; /* Adjust as needed */
    height: auto;
}

.navbar {
    display: flex;
    list-style: none;
    white-space: nowrap; /*para di ma-cut ang two words */
    margin-left: auto; /* Pushes the navbar to the right */
}

.navbar a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0px 0px;
    margin: 0px 60px;
    transition: all .50s ease;
}

.closeTxt {
    display: none;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0px 0px;
    margin: 0px 60px;
    transition: all .50s ease;
}

.logoNavBar {
    display: none;
}

.navbar.open {
    display: flex; /* Show the navbar when open */
}

.navbar a:hover {
    color: var(--navy-blue);
    font-weight: bold;
}

.navbar a.active {
    color: var(--navy-blue);
    font-weight: bold;
}

.button {
    position: relative;
    display: flex;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(225deg, var(--blue) 0%, var(--pale-blue) 100%);
    color: white;
    white-space: nowrap; /* Prevent text from wrapping */
    margin-left: 3%;
}

.button:hover {
    background: var(--cyan);
}

.menuIcon, .closeIcon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
    margin-left: 70%;
}

.menuIconHidden, .closeIconHidden {
    display: none;
}


.featuresSection {
    margin-top: 2000px; /* Adjust the value as needed */
}


@media(max-width: 1200px){
    .header{
        padding: 1% 2%;
    }

    .navbar a{
        padding: 10px 15px;
        margin: 0px 10px;
    }
}

@media(max-width: 1000px) {
    .logoContainer img {
        width: 80%;
    }

    .navbar a {
        font-size: 14px;
    }

    .button {
        font-size: 13px;
    }
}

@media(max-width: 768px) {

    .header {
        padding: 1% 2%;
    }

    .button {
        padding: 8px 16px; 
        font-size: 0.8rem; 
        margin-left: auto;
        margin-right: 15px;
    }

    .navbar{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0px;
        width: 100%;
        height: auto;
        background-color: white;
        box-shadow: 0px 50px 1000px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 2000;
    }

    .navbar a{
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 0px 25px;
        transition: all .50s ease;
        color: var(--black-color);
        font-size: 15px;
    }

    .closeTxt {
        display: block;
        margin: 0 auto;
        margin-bottom: 12px;
        padding: 0px 25px;
        transition: all .50s ease;
        color: red;
        font-size: 15px;
    }

    .navbar a:hover{
        color: var(--cyan);
        font-weight: bold;
        background-color: rgb(196, 196, 196);
        transform: translateY(5px);
    }

    .navbar a.active{
        color: var(--black-color);
        font-weight: bold;
    }

    .navbar {
        transform: translateY(-100%);
        box-shadow: none;
        transition: transform ease 0.3s;
    }

    .navbar.open {
        transform: translateY(0%);
        box-shadow: 0px 50px 1000px rgba(0, 0, 0, 0.5);
    }

    .menuIcon{
        display: flex;
        margin: 0;
    }

    .menuIconHidden {
        display: none;
    }
}


@media(max-width: 576px) {
    .header {
        padding: 1% 2%; 
    }

    .button {
        padding: 6px 12px; 
        font-size: 0.7rem; 
    }

    .menuIcon{
        margin-right: 10px;
    }
}

@media(max-width: 400px){
    .header{
        padding: 1% 1%;
    }

    .navbar a, .closeTxt{
        padding: 8px 12px;
        margin: 0px 5px;
    }

    .button {
        padding: 6px 10px;
    }
}

@media(max-width: 320px){
    .header{
        padding: 1% 0.5%;
    }

    .navbar a, .closeTxt{
        padding: 6px 10px;
        margin: 0px 3px;
        font-size: 0.8rem;
    }
    .button {
        padding: 4px 8px;
        font-size: 0.7rem;
    }
}