.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .landingPage {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    width: 100%;
    justify-content: space-between;
  }
  
  .pageBanner {
    margin-right: 100px auto;
  }
  
  .containerText {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Set container height to full viewport height */
    white-space: nowrap;
    z-index: 1;
}
  
.vector1577 {
    display: flex;
    width: 100vw; /* Set width to cover the entire viewport */
    height: 100vh; /* Set height to cover the entire viewport */
    z-index: -1; /* Ensure the background is behind other content */
    justify-content: flex-end; /* Align to the right side */
}

.cryptoWallet {
    z-index: 0;
    margin-top: -45%;
    max-width: 100%;
    z-index: -1;
}

.connectMetamaskContainer { 
    padding: 1%; /* Adjust padding for responsiveness */
    border-radius: 3px;
    margin-right: 10%;
  }
  
.connectMetamaskButton {
    display: flex;
    align-items: center;
    padding: 1% 20% 1% 10%; /* Adjusted padding for smaller screens */
    margin: 10% auto; /* Adjusted margin for smaller screens */
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.connectMetamaskText {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
    color: #a9a8a8;
    font-size: 12px;
    padding-right: 10px; /* Adjusted padding for smaller screens */
}
  
.connectMetamaskButton:hover {
    background-color: #EFEFEF;
}
  
.metaMaskLogo {
    margin-right: 15%;
}

.signInWithWalletText {
    position: relative;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #0A0045;
    z-index: 1007;
    letter-spacing: 1px;
}

.dontHaveMetamaskText,
.signInWithProviderText {
    position: relative;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #0A0045;
    z-index: 1007; 
}

.createOneLink {
    color: #2264DC;
    cursor: pointer;
}

.createOneLink:hover {
    text-decoration: underline;
}
.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    width: 80%; 
    height: auto;
}
  
  @media screen and (max-width: 1246px){
  
    .welcomeMessage {
      justify-content: center;
    }
  
    .pageBanner {
      margin-right: 61px;
      width: 40%;
    }
  
    .featuresItem {
      transform: scale(0.8);
      width: 100%;
      margin: 0 auto;
    }
  
    .subscriptionContainer{
      margin-top: 30px;
    }
  
    .emailInput {
      width: 800px;
    }
  }
  
  @media screen and (max-width: 1010px){
    .slogan {
      font-size: 30px;
    }
  
    .subSlogan {
      font-size: 15px;
    }
  
    .getStarted {
      width: 150px;
      padding: 14px 30px 14px 30px;
      font-size: 15px;
    }
  
    .pageBanner {
      width: 40%;
    }
  
    .infoTextLarge {
      font-size: 40px;
    }
  
    .infoTextSmall{
        font-size: 13px;
    }
  
    .question p{
      font-size: 30px;
    }
  
    .featuresItem {
      flex-direction: column;
      height: 1100px;
      width: 90%;
      margin-top: -60px;
    }
  
    .columnFeatureSection {
      flex-direction: row;
      height: auto;
      width: 100%;
    }
  
    .subscriptionTextBanner {
      font-size: 30px;
      margin-top: -40px;
    }
  
    .subscriptionDesc {
      font-size: 16px;
    }
  
    .forNewsletterTxt {
      font-size: 17px;
    }
  
    .emailInput, .emailInput::placeholder{
      font-size: 12px;
    }
  
    .emailInput {
      width: 600px;
      height: 10%;
    }
  
    .subscribeButton {
      font-size: 12px;
      padding: 10px 30px;
    }
  }
  
  @media screen and (max-width: 743px) {
  
    .slogan {
      font-size: 27px;
    }
  
    .subSlogan {
      font-size: 14px;
    }
  
    .getStarted {
      width: 105px;
      padding: 12px 20px 12px 20px;
      font-size: 12px;
    }
  
    .question p{
      font-size: 26px;
    }
  
    .featuresItem{
      width: 100%;
    }
  
    .feature {
      width: 300px;
    }
      
    .feature img{
      width: 100%;
    }
  
    .featureTxtContainer {
      width: 90%;
      height: 60%;
    }
  
    .subscriptionContainer {
      margin-top: -10px;
    }
  
    .subscriptionTextBanner {
      font-size: 26px;
    }
  
    .subscriptionDesc {
      font-size: 14px;
    }
  
    .forNewsletterTxt {
      font-size: 15px;
    }
  
    .emailInput, .emailInput::placeholder{
      font-size: 11px;
    }
  
    .emailInput {
      height: 10%;
      width: 400px;
    }
  }
  
  @media screen and (max-width: 623px) {
  
    .welcomeMessage {
      margin-left: 30px;
    }
  
    .pageBanner {
      margin-right: 40px;
      width: 45%;
    }
  
    .slogan {
      font-size: 24px;
    }
  
    .subSlogan {
      font-size: 12px;
    }
  
    .getStarted {
      width: 84px;
      padding: 10px 15px 10px 15px;
      font-size: 10px;
    }
  
    .infoTextLarge {
      font-size: 30px;
    }
  
    .infoTextSmall{
        font-size: 11px;
    }
  
    .question p{
      font-size: 20px;
    }
  
    .featuresItem {
      height: 950px;
    }
    
    .feature {
      width: 230px;
      height: 290px;
    }
      
    .feature img{
      width: 100%;
    }
  
    .featureTxtContainer {
      width: 90%;
      height: 86%;
    }
    
    .lineStyle {
      width: 80%;
    }
  
    .featureInfo {
      height: auto;
    }
  
    .subscriptionContainer {
      margin-top: -10px;
    }
  
    .subscriptionTextBanner {
      font-size: 26px;
    }
  
    .subscriptionDesc {
      font-size: 14px;
    }
  
    .forNewsletterTxt {
      font-size: 15px;
    }
  
    .emailInput, .emailInput::placeholder{
      font-size: 11px;
    }
  
    .forNewsletterContainer {
      padding-top: 30px;
      padding-bottom: 40px;
      padding-right: 30px;
      padding-left: 30px;
    }
  
    .emailInput {
      width: 350px;
    }
  }
  
  @media screen and (max-width: 484px) {
    .landingPage {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .welcomeMessage {
      align-items: center;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  
    .pageBanner {
      width: 60%;
    }
  
    .question P {
      font-size: 17px;
    }
  
    .infoTextLarge {
      font-size: 20px;
    }
  
    .infoTextSmall {
      font-size: 10px;
    }
  
    .features {
      margin-top: -20px;
    }
  
    .featuresItem {
      height: 800px;
    }
  
    .feature {
      width: 180px;
      height: 250px;
    }
  
    .featureInfo {
      font-size: 15px;
    }
  
    .featureDesc {
      font-size: 12px;
    }
  
    .subscriptionContainer{
      margin-top: 30px;
    }
  
    .subscriptionTextBanner {
      font-size: 20px;
    }
  
    .subscriptionDesc {
      font-size: 13px;
    }
  
    .forNewsletterTxt {
      font-size: 13px;
    }
  
    .emailInput {
      font-size: 10px;
      width: 290px;
    }
  
    .emailInput::placeholder {
      font-size: 10px;
    }
  
    .subscribeButton {
      font-size: 10px;
    }
  }
  
  @media screen and (max-width: 398px){
    .bannerInfo {
      width: 90%;
    }
  
    .featuresItem {
      height: 850px;
    }
    
    .feature {
      width: 170px;
    }
    
    .emailInput {
      padding-left: 10px;
      width: 250px;
    }
  }