.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
    margin-top: -55%;
  }
  
  .landingPage {
    display: flex;
    flex-direction: row; /* Keep elements side-by-side on larger screens */
    margin-top: 120px;
    width: 100%;
    justify-content: space-between; /* Maintain space between elements */
    gap: 5%; /* Responsive spacing between elements */
  }
  
.pageBanner {
    margin-right: auto;
    margin-bottom: auto;
}
  
.containerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Set container height to full viewport height */
    white-space: nowrap;
    z-index: 1;
    margin-bottom: auto;
    margin-right: auto;
}
  
.background {
    display: flex;
    width: 100vw; /* Set width to cover the entire viewport */
    height: 100vh; /* Set height to cover the entire viewport */
    z-index: -1; /* Ensure the background is behind other content */
    justify-content: flex-end; /* Align to the right side */
}

.cryptoWallet {
    z-index: 0;
    margin-top: -45%;
    max-width: 100%;
    z-index: -1;
}

.connectMetamaskContainer { 
    padding: 1%; /* Adjust padding for responsiveness */
    border-radius: 3px;
    margin-right: 10%;
  }
  
.connectMetamaskButton {
    display: flex;
    align-items: center;
    padding: 1% 20% 1% 10%; /* Adjusted padding for smaller screens */
    margin: 10% auto; /* Adjusted margin for smaller screens */
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.connectMetamaskText {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
    color: #a9a8a8;
    font-size: 12px;
    padding-right: 10px; /* Adjusted padding for smaller screens */
}
  
.connectMetamaskButton:hover {
    background-color: #EFEFEF;
}
  
.metaMaskLogo {
    margin-right: 15%;
}

.signInWithWalletText {
    position: relative;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #0A0045;
    z-index: 1007;
    letter-spacing: 1px;
}

.dontHaveMetamaskText,
.signInWithProviderText {
    position: relative;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #0A0045;
    z-index: 1007; 
}

.createOneLink {
    color: #2264DC;
    cursor: pointer;
}

.createOneLink:hover {
    text-decoration: underline;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    width: 80%; 
    height: auto;
}

.navbar {
    display: flex;
    list-style: none;
    white-space: nowrap; /*para di ma-cut ang two words */
    margin-left: auto; /* Pushes the navbar to the right */
}

.navbar a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0px 0px;
    margin: 0px 60px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--navy-blue);
    font-weight: bold;
}

.navbar a.active {
    color: var(--navy-blue);
    font-weight: bold;
}

.button {
    position: relative;
    display: flex;
    padding: 14px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(225deg, var(--blue) 0%, var(--pale-blue) 100%);
    color: white;
    white-space: nowrap; /* Prevent text from wrapping */
    margin-left: 3%;
}

.button:hover {
    background: var(--cyan);
}

#menuIcon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}


@media screen and (max-width: 1536px){

    .pageBanner {
      width: 40vw;
      margin-top: 5%;
      margin-left: 6%;
    }
  
    .containerText{
      margin-left: -10%;
    }
  
    .dontHaveMetamaskText,
    .signInWithProviderText{
      font-size: 1.2vw;
    }
  
    .signInWithWalletText{
      font-size: 2.2vw;
    }
  
  }
    
  @media screen and (max-width: 1280px){
  
    .pageBanner {
      width: 50vw;
      margin-top: -10%;
      margin-left: 5%;
    }
  
    .containerText{
      margin-top: -15%;
      margin-left: -10%;
    }
  
    .dontHaveMetamaskText,
    .signInWithProviderText{
      font-size: 1.5vw;
    }
  
    .signInWithWalletText{
      font-size: 3vw;
    }
  
  }
  
  @media screen and (max-width: 1024px){
    .pageBanner {
      width: 50vw;
      margin-top: -10%;
      margin-left: 5%;
    }
  
    .containerText{
      margin-top: -15%;
    }
  
  }
  
  @media screen and (max-width: 820px){
    .landingPage {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .pageBanner {
      width: 70vw;
      margin-top: -90%;
      margin-left: 23%;
    }
  
    .containerText{
      margin-top: -50%;
      margin-right: -4%
    }
  
    .dontHaveMetamaskText,
    .signInWithProviderText{
      font-size: 3vw;
    
    }
  
    .signInWithWalletText{
      font-size: 5vw;
    }
  
    .connectMetamaskContainer { 
      padding: 1%; /* Adjust padding for responsiveness */
      border-radius: 3px;
      margin-right: 10%;
    }
  
    .connectMetamaskText {
      font-size: 3vw;
  }
    
    .connectMetamaskButton {
      margin-left: -10%;
      padding: 2;
      padding: 3% 20% 3% 10%; /* Adjusted padding for smaller screens */
    }
  }
  
  @media screen and (max-width: 768px){
    .landingPage {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .pageBanner {
      width: 60vw;
      margin-top: -90%;
      margin-left: 23%;
    }
  
    .containerText{
      margin-top: -40%;
      margin-right: -4%
    }
  
    .dontHaveMetamaskText,
    .signInWithProviderText{
      font-size: 3vw;
    
    }
  
    .signInWithWalletText{
      font-size: 5vw;
    }
  
    .connectMetamaskContainer { 
      padding: 1%; /* Adjust padding for responsiveness */
      border-radius: 3px;
      margin-right: 10%;
    }
  
    .connectMetamaskText {
      font-size: 3vw;
  }
    
    .connectMetamaskButton {
      margin-left: -10%;
      padding: 2;
      padding: 3% 20% 3% 10%; /* Adjusted padding for smaller screens */
    }
  }
  
  @media screen and (max-width: 475px) {
    .landingPage {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .pageBanner {
      width: 80vw;
      margin-top: -170%;
      margin-left: 20%;
    }
  
    .containerText{
      margin-top: -70%;
      margin-left: 0%
    }
  
    .dontHaveMetamaskText,
    .signInWithProviderText{
      font-size: 4vw;
    
    }
  
    .signInWithWalletText{
      font-size: 6vw;
    }
  
    .connectMetamaskContainer { 
      padding: 1%; /* Adjust padding for responsiveness */
      border-radius: 3px;
      margin-right: 10%;
    }
    
    .connectMetamaskButton {
      margin-left: -10%;
    }
  
  }
  
  @media screen and (max-width: 376px) {
    .landingPage {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .pageBanner {
      width: 90vw;
      margin-top: -140%;
      margin-left: 10%;
    }
  
    .containerText{
      margin-top: -60%;
      margin-right: -4%
    }
  
    .dontHaveMetamaskText,
    .signInWithProviderText{
      font-size: 4vw;
    }
  
    .signInWithWalletText{
      font-size: 6vw;
    }
  
    .connectMetamaskContainer { 
      padding: 1%; /* Adjust padding for responsiveness */
      border-radius: 2px;
      margin-right: 10%;
    }
    
    .connectMetamaskButton {
      margin-right: -10%;
    }
  
    .connectMetamaskText{
      font-size: 3vw;
    }
  
  }
  
  
  
  
  