.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1137px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 133px;
}

.basicInfoContainer {
    display: flex;
    background-color: white;
    width: 1137px;
    height: 95px;
    border-radius: 10px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
    align-items: center;
    position: sticky;
    margin: 0 auto;
    top: 145px;
    left: 0;
    right: 0;
    z-index: 1100;
}

.outerContainer {
    position: sticky;
    top: 120px;
    display: flex;
    background-color: white;
    height: 150px;
    width: 1145px;
    z-index: 1000;
}

.headingAttrb {
    font-size: 14px;
    font-family: Roboto Condensed;
    color: #C9C9C9;
}

.headingAttrb_formatting {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 70px;
    border-right: 1px solid #E3E3E3; 
    margin-left: 50px;  
}

.headingAttrb_formatting p {
    margin: 3px;
}

.headingAttrb_des {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 70px;
    margin-left: 50px;  
    padding-right: 50px;
}

.headingAttrb_des p {
    margin: 3px;
}

.des {
    font-size: 14px;
    font-family: Roboto Condensed;
    color: var(--navy-blue);
    width: 392px;
    overflow-y: auto;
}

.dataFormat {
    font-size: 16px;
    font-family: Roboto Condensed;
    font-weight: 500;
    color: var(--navy-blue);
}

.doctorTypeFormat {
    font-size: 12px;
    font-family: Roboto Condensed;
    color: var(--navy-blue);
}

.dataFormat_diag {
    font-size: 16px;
    font-family: Roboto Condensed;
    font-weight: 500;
    color: var(--cyan);
}

.dataFormat_des {
    font-size: 14px;
    font-family: Roboto Condensed;
    color: var(--navy-blue);
}

.table_container {
    width: 1137px;
    margin-bottom: 30px;
}

.table_title {
    display: flex;
    font-size: 16px;
    font-family: Roboto Condensed;
    font-weight: 500;
    color: var(--gray);
    justify-content: center;
    margin-top: 0;
}

.sANDs_heading {
    display: grid;
    grid-template-columns: 280px 250px 250px 283px;
    height: 25px;
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 500;
    color: var(--pale-blue);
    background-color: var(--light-gray);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.sANDs_heading p{
    margin: 4px;
}

.sANDs_data {
    display: grid;
    grid-template-columns: 280px 250px 250px 283px;
    font-family: Roboto Condensed;
    font-size: 12px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.sANDs_data p{
    margin: 7px;
}

.treatment_heading {
    display: grid;
    grid-template-columns: 270px 320px 180px 180px 120px;
    height: 25px;
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 500;
    color: var(--pale-blue);
    background-color: var(--light-gray);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.treatment_heading p {
    margin: 4px;
}

.treatment_data {
    display: grid;
    grid-template-columns: 270px 320px 180px 180px 120px;
    font-family: Roboto Condensed;
    font-size: 12px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.treatment_data p {
    margin: 7px;
}

.test_heading {
    display: grid;
    grid-template-columns: 190px 200px 150px 200px 330px;
    height: 25px;
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 500;
    color: var(--pale-blue);
    background-color: var(--light-gray);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.test_heading p {
    margin: 4px;
}

.test_data {
    display: grid;
    grid-template-columns: 190px 200px 150px 200px 330px;
    font-family: Roboto Condensed;
    font-size: 12px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.test_data p {
    margin: 7px;
}

.medication_heading {
    display: grid;
    grid-template-columns: 190px 190px 190px 190px 190px 190px;
    height: 25px;
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 500;
    color: var(--pale-blue);
    background-color: var(--light-gray);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.medication_heading p {
    margin: 7px;
}

.medication_data {
    display: grid;
    grid-template-columns: 190px 190px 190px 190px 190px 190px;
    font-family: Roboto Condensed;
    font-size: 12px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.medication_data p {
    margin: 7px;
}

.scrollableTable_container {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    padding: 3px;
}