.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1250px;
    margin: 0 auto;
    margin-top: 130px;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 1140;
    align-items: center;
    margin: 0 auto;
}

.tableHeading {
    display: grid;
    grid-template-columns: 220px 300px 200px 160px 160px;
    font-size: 14px;
    font-family: Roboto Condensed;
    font-weight: 500;
    color: var(--pale-blue);
    width: 1140px;
    justify-content: center;
    position: sticky;
    margin: 0 auto;
    top: 120px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
}

.data {
    display: grid;
    grid-template-columns: 220px 300px 200px 160px 160px;
    font-size: 12px;
    font-family: Roboto Condensed;
    border-radius: 8px;
    box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.15);
    width: 1122px;
    justify-content: center;
    margin-bottom: 5px;
}

.data:hover {
    border-left: 6px solid var(--gray);
}

.diaAttrb {
    color: var(--cyan);
}

.submitButton {
    position: sticky;
    bottom: 25px;
    right: 135px;
    height: 37px;
    width: 37px;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    font-family: Roboto Condensed;
    font-size: 30px;
    border: none;
    margin-left: auto;
    border-radius: 100px;
    align-items: center;
}
  
.submitButton:hover {
    background-color: var(--cyan);
}

.forResponsiveness {
    visibility: hidden;
    display: flex;
    font-size: 0;
    line-height: 0;
}


@media screen and (max-width: 2491px) {

    .container{
        margin-top: 175px;
    } 

    .tableHeading {
        top: 135px;
    }
}

@media screen and (max-width: 1701px) {
    .container{
        margin-top: 130px;
    }
    
}

@media screen and (max-width: 1660px){ 
    .tableHeading{
        top: 130px;
    }
}

@media screen and (max-width: 1488px){      
    .container{
        width: 1050px;
    } 

    .tableHeading{
        grid-template-columns: 220px 240px 150px 130px 90px;
        width: 1000px;
        top: 120px;
    }

    .data{
        grid-template-columns: 220px 240px 150px 130px 90px;
        width: 950px;
    }

    .submitButton {
        right: 150px;
    }
}

@media screen and (max-width: 1355px){   
    .container{
        width: 900px;
        margin-top: 120px;
    }

    .tableHeading{
        width: 850px;
        grid-template-columns: 190px 210px 130px 120px 90px;
        top: 120px
    }
    
    .data{
        grid-template-columns: 190px 210px 130px 120px 90px;
        width: 800px;
    }

    .submitButton {
        right: 0px;
    }
}

@media screen and (max-width: 1217px) {
    .tableHeading {
        top: 110px;
    }
}

@media screen and (max-width: 1105px){   
    .container{
        width: 900px;
        margin-top: 90px;
    }

    .tableHeading{
        top: 95px;
    }

    .submitButton {
        right: 0px;
    }
}

@media screen and (max-width: 930px){ 
    .container {
        width: 830px;
        margin-top: 90px;
    }  

    .tableHeading{
        width: 830px;
        top: 90px;
    }

    .submitButton {
        right: 40px;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: 875px) {
    .container{
        width: 670px;
        margin-top: 70px;
    }
    
    .tableHeading {
        grid-template-columns: 150px 170px 105px 110px 90px;
        padding-left: 45px;
        width: 670px;
        top: 70px;
        font-size: 10px;
    }

    .data {
        grid-template-columns: 150px 170px 105px 110px 90px;
        padding-left: 40px;
        width: 650px;
        align-items: center;
        font-size: 10px;
    }

    .submitButton {
        position: absolute;
        right: 15px;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: 757px) {
    .container{
        width: 585px;
    }
    
    .tableHeading {
        grid-template-columns: 120px 140px 100px 90px 70px;
        padding-left: 17px;
        width: 570px;
    }

    .data {
        grid-template-columns: 120px 140px 100px 90px 70px;
        padding-left: 17px;
        width: 550px;
        align-items: center;
        font-size: 10px;
    }    
}

@media screen and (max-width: 620px) {

    .container{
        width: 420px;
        margin-top: 60px;
        justify-content: center;
    }

    .tableHeading{
        visibility: hidden;
        width: 420px;
        font-size: 0;
    }

    .perSection{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 20px;
    }

    .forResponsiveness{
        visibility: visible;
        display: grid;
        grid-template-columns: 90px;
        grid-template-rows: repeat(5, 20px);
        flex-direction: column;
        align-items: center;
        font-size: 11px;
        font-family: Roboto Condensed;
        color: var(--pale-blue);
        font-weight: 450;
        line-height: 15px;
    }

    .data {
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: repeat(5, 20px);
        flex-direction: column;
        box-shadow: none;
        width: 250px;
        margin-bottom: 0px;
        border-radius: 0;
        line-height: 15px;
        font-size: 11px;
    }    
}

@media screen and (max-width: 424px) {

    .container{
        width: 270px;
        margin-top: 60px;
    }

    .forResponsiveness{
        font-size: 10px;
        grid-template-columns: 70px;
    }

    .perSection{
        width: 250px;
    }

    .data{
        grid-template-columns: 127px;
        font-size: 10px;
        padding-left: 0px;
  
    }
}