.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    margin-top: 130px;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 1140;
    align-items: center;
    margin: 0 auto;
}

.tableHeading{
    display: grid;
    grid-template-columns: 220px 300px 200px 160px 160px;
    font-size: 14px;
    font-family: Roboto Condensed;
    font-weight: 500;
    color: var(--pale-blue);
    width: 1140px;
    justify-content: center;
    position: sticky;
    margin: 0 auto;
    top: 120px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
}

.data{
    display: grid;
    grid-template-columns: 220px 300px 200px 160px 160px;
    font-size: 12px;
    font-family: Roboto Condensed;
    border-radius: 8px;
    box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.15);
    width: 1122px;
    justify-content: center;
    margin-bottom: 5px;
}

.data:hover {
    border-left: 6px solid var(--gray);
}

.diaAttrb {
    color: var(--cyan);
}

.submitButton {
    position: sticky;
    bottom: 25px;
    right: 135px;
    height: 37px;
    width: 37px;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    font-family: Roboto Condensed;
    font-size: 30px;
    border: none;
    margin-left: auto;
    border-radius: 100px;
    align-items: center;
}
  
.submitButton:hover {
    background-color: var(--cyan);
}