.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 145px;
    margin-bottom: 60px;
}

.notifContainer {
    display: grid;
    grid-template-columns: 50px 950px 80px;
    font-family: Roboto Condensed;
    font-size: 12px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    width: 1130px;
    height: auto;
    padding-left: 30px;
    align-items: center;
    margin: 2px;
    margin-bottom: 3px;
}

.notifContainer p {
    line-height: 0.5;
}

.typeDes_format{
    display: flex;
    flex-direction: column;
}

.des {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 15px;
    padding-top: 3px;
}

.notifTypeFormat {
    font-size: 14px;
    font-weight: 500;
    color: var(--pale-blue);
    margin-bottom: 0;
}

.timeStampFormat {
    color: #d9d9d9;
}

@media screen and (max-width:2491px) {
    .container {
        margin-top: 190px;
    }
}

@media screen and (max-width:1661px) {
    .container {
        margin-top: 140px;
    }
}

@media screen and (max-width:1661px) {

    .container, .notifContainer {
        width: 900px;
    }

    .notifContainer {
        grid-template-columns: 50px 740px 80px;
    }
}

@media screen and (max-width:1271px) {

    .container {
        margin-top: 120px;
    }

    .container, .notifContainer {
        width: 800px;
    }

    .notifContainer {
        grid-template-columns: 50px 640px 80px;
    }
}

@media screen and (max-width:902px) {

    .container {
        margin-top: 100px;
    }

    .container, .notifContainer {
        width: 650px;
    }

    .notifContainer {
        grid-template-columns: 50px 490px 80px;
    }
}

@media screen and (max-width: 875px) {
    .container {
        margin-top: 80px;
    }

    .notifTypeFormat{
        font-size: 12px;
    }

    .notifContainer{
        font-size: 10px;
    }
}

@media screen and (max-width:730px) {

    .container {
        margin-top: 70px;
    }

    .container, .notifContainer {
        width: 500px;
    }

    .notifContainer {
        padding-left: 15px;
        grid-template-columns: 50px 370px 80px;
    }
}

@media screen and (max-width:730px) {

    .container, .notifContainer {
        width: 400px;
    }

    .notifContainer {
        grid-template-columns: 50px 275px 80px;
    }
}

@media screen and (max-width: 439px) {

    .container, .notifContainer {
        width: 330px; 
    }

    .notifContainer {
        grid-template-columns: 50px 205px 50px;
    }
}